////// animmation pour les plats ///////

/////   CHECK  /////
.menu__plat--check{
    width: 0;
    transition : width 800ms;    
}
.menu__plat:hover i {
    transform: rotate(0deg)
  }
.fa-check-circle{
    transform: rotate(-180deg);
    transition-delay:500ms;
    transition: transform 800ms;
  }

///////  APPARITION  DES  PLATS  ///////

.plat1{
    -webkit-animation-name: slideup;
            animation-name: slideup;
    -webkit-animation-duration: 1500ms;
            animation-duration: 1500ms;
    opacity: 0;
    -webkit-animation-fill-mode: forwards ;
            animation-fill-mode: forwards ;
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
}
.plat2{
    -webkit-animation-name: slideup;
            animation-name: slideup;
    -webkit-animation-duration: 1800ms;
            animation-duration: 1800ms;
    opacity: 0;
    -webkit-animation-fill-mode: forwards ;
            animation-fill-mode: forwards ;
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
}
.plat3{
    -webkit-animation-name: slideup;
            animation-name: slideup;
    -webkit-animation-duration: 2100ms;
            animation-duration: 2100ms;
    opacity: 0;
    -webkit-animation-fill-mode: forwards ;
            animation-fill-mode: forwards ;
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
}
.plat4{
    -webkit-animation-name: slideup;
            animation-name: slideup;
    -webkit-animation-duration: 2100ms;
            animation-duration: 2100ms;
    opacity: 0;
    -webkit-animation-fill-mode: forwards ;
            animation-fill-mode: forwards ;
    -webkit-animation-delay: 1200ms;
            animation-delay: 1200ms;
}
@-webkit-keyframes slideup {
    from{
        transition-timing-function: ease-in-out;
        transform: translateY(30px); 
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideup {
    from{
        transition-timing-function: ease-in-out;
        transform: translateY(30px); 
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

////////  PAGE LOADER   ///////


@-webkit-keyframes barres__grow{
    0%{ transform: scaleY(0); opacity : 0; }
    50%{transform : scaleY(1); opacity: 1;}
    100%{ transform : scaleY(0); opacity: 0;}
}

@keyframes barres__grow{
    0%{ transform: scaleY(0); opacity : 0; }
    50%{transform : scaleY(1); opacity: 1;}
    100%{ transform : scaleY(0); opacity: 0;}
}

@-webkit-keyframes loader{
    0%{visibility: visible;}
    100%{visibility: hidden;}
}

@keyframes loader{
    0%{visibility: visible;}
    100%{visibility: hidden;}
}

////////// Animation coeur   ////////

@-webkit-keyframes coeurplein{
    from{ 
        opacity: 0;}
    to {
        opacity: 1;}    
}

@keyframes coeurplein{
    from{ 
        opacity: 0;}
    to {
        opacity: 1;}    
}



