////// animmation pour les plats ///////

.menu__plat--check{
    width: 0;
    transition : width 800ms;
    
}
.menu__plat:hover i {
    transform: rotate(0deg);
  }
  .fa-check-circle{
    transform: rotate(-180deg);
    transition-delay:100ms;
    transition: transform 800ms;
  }

.plat1{
    animation-name: slidedown;
    animation-duration: 1500ms;
    opacity: 0;
    animation-fill-mode: forwards ;
    animation-delay: 200ms;
}
.plat2{
    animation-name: slidedown;
    animation-duration: 1800ms;
    opacity: 0;
    animation-fill-mode: forwards ;
    animation-delay: 500ms;
}
.plat3{
    animation-name: slidedown;
    animation-duration: 2100ms;
    opacity: 0;
    animation-fill-mode: forwards ;
    animation-delay: 800ms;
}
@keyframes slidedown {
    from{
        transition-timing-function: ease-in-out;
        transform: translateY(30px);
        
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}