*{
    margin : 0;
    padding : 0; 
}
body{
    font-family: 'roboto', cursive;
}
a{
    text-decoration: none;
    color: black;
}


/*    HEADER      */

.header{
    &__fleche{
        position : absolute;
        z-index: 1;
        top : 45px;
        left : 20px;
        font-size: 25px;
        color : $font-color1;
    }
    &__logo{
        position: relative;
        z-index: 0;
        margin : 20px 0px; 
        text-align: center;
        width: 100%;
        font-family: 'shrikhand', cursive;  
    }
    
    &__img{
        width : 100%;
        max-height: 400px;
        object-fit: cover;     
    }
}

/*     MENU      */

.title__restaurant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px 20px;
    font-family: 'Shrikhand',cursive;

    &--coeurplein{
        position : absolute;
        z-index: 1;
        background : linear-gradient(350deg, $primary-color 0%, $secondary-color 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
    }
    &--coeurvide{
        position : relative;
        z-index: 0;
    }
    &--coeurplein:hover {
        animation : coeurplein 1s linear forwards;
    }
    &--coeurplein:hover ~ &--coeurvide{
        color: transparent;
    } 
}
.fa-heart{
    font-size: 25px;;
}
.menu{
    position: relative;
    z-index: 1;
    margin-top: -40px;
    background: $background-color1;
    border-radius: 35px 35px 0 0;
    width: 100%;
    padding : 20px 0;

        &__intitule{
            overflow: hidden;
            width : 98%;
        }
        &__title{
            margin : 35px 0 35px 20px;
            border-bottom: 3px $color-new1 solid;
            width : 40px;
            padding-bottom: 5px;
            text-transform: uppercase;
            
            
        }
        
        &__plat:hover{
            .menu__plat--check{
                display: flex;
                justify-content: center;
                align-items: center;
                visibility: visible;  
                border : 1px solid $color-new1;
                width : 70px;
                background: $color-new1;
                color :white;
                border-radius: 0 15px 15px 0;
                height : 100%;
                margin-left : 10px;
                
            }
        }
        &__plat{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            border-radius: 15px;
            height: 70px;
            margin : 10px 20px;
            padding-left: 20px;
            overflow: hidden;
            
            &--descrtiptif{
                display: flex;
                justify-content: space-between;
                overflow: hidden;
            }
            &--title{
                margin-bottom: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;                
                }
                &--title h3, p:first-child{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    
            }
            &--check i{
                
                font-size: 30px;
            }
            &--check{
                  visibility: hidden;         
            }
            
        }
        &__btn{
            text-align: center;
            border-radius: 50px 50px;
            padding: 15px 15px;
            width: 200px;
            background: linear-gradient(350deg, $primary-color 0%, $secondary-color 100%);
            border : none;
            font-size: 18px;
            margin: 40px auto;
            & p{
                color: white;
                }
            }
            &__btn:hover{
                opacity: 0.8;
               box-shadow: 0 0 15px $shadow-color2;
                           }


}

//////   MEDIA QUERIES   //////

@media screen and (min-width: 1000px) {
    .menu1{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
    .menu2{
        width: 100%;
        overflow: hidden;
    }
    header img{
        height : 400px
    }
}
@media (min-width: 640px) and (max-width: 999px) {
    .menu__plat{
        max-width: 600px;
        margin : 10px auto;
    }
}



