*{
    margin : 0;
    padding : 0; 
}
body{
    font-family: 'roboto', cursive;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    text-align: center;
    width: 100%;
    font-family: 'shrikhand', cursive;
    font-size: 25px;
    display: inline-block;
    box-shadow:  0 10px 15px rgba($shadow-color,.4) ;

}

//////    POSITION    //////

.location{
    display: flex;
    justify-content: center;
    background-color: $background-color1;
    height : 65px;
    align-items: center;     
    p{
        font-weight: bold;
        font-size: 25px;
    }
    &__icone{
        margin-right: 25px;
        font-size: 25px;
        color : $font-color1;
    }
    &__form--search{
        border: none;
        background-color: $background-color1; 
        font-size: 20px;
        font-weight: 600;
        width: 180px;
    }
    &__form--search::-webkit-input-placeholder{
        color : $font-color1;
    }
    &__form--search::-moz-placeholder{
        color : $font-color1;
    }
    &__form--search:-ms-input-placeholder{
        color : $font-color1;
    }
    &__form--search::-ms-input-placeholder{
        color : $font-color1;
    }
    &__form--search::placeholder{
        color : $font-color1;
    }
}

/////     EXPLORE    //////

.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $background-color2;
    margin-bottom: 40px;
    padding-top: 25px;;
        h1{
            font-size: 30px;
            text-align: center;
            margin : 30px 50px;
        }
        p:not(:first-child){
            text-align: center;
            font-size: 22px;
            margin-bottom: 25px;
            margin : 25px 50px;
        }
        &__btn{
            border-radius: 50px 50px;
            padding: 15px 15px;
            color: white;
            width: 250px;
            height: 65px;
            background: linear-gradient(350deg, $primary-color 0%, $secondary-color 100%);
            border : none;
            font-size: 18px;
            margin-bottom: 50px;
            box-shadow: 0 0 15px $shadow-color ;
            }
            &__btn:hover{
               opacity: 0.9;
               box-shadow: 0 0 15px $shadow-color2;
            }
}

//////     FONCTIONNEMENT    //////

h2{
    margin-left: 30px;
    margin-bottom: 15px;
}
.fonction{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin : 30px 0px;   
    
        &__btn{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 75%;
            margin-bottom: 15px;
            border : 1px solid $background-color2;
            border-radius: 25px;
            padding : 25px 0px;
            padding-right: 40px;
            background-color: $background-color2;
            box-shadow: 0 0 15px $shadow-color ;
        
            &--number{
                border-radius: 100%;
                padding : 10px 15px 10px 15px;
                position: relative;
                left : -20px;
                background-color: $primary-color;
                color: white;
                font-weight: bold ;
            }
            &--icone{
                margin-right: 15px;
                color : $font-color1;
                font-size: 20px;    
        }
            &:hover{
                background-color : rgba($primary-color, 0.2);
                i{
                    color: $primary-color;
                }
                
            }
        }       
}

//////    RESTAURANT    ///////


.restaurants{
    background-color: $background-color2;
    padding : 40px 0px;
    h2{
        margin-left: 30px;
    }
}

.restaurant{
    
    margin: 30px 0px;
    display: flex;
    align-items: center;
    font-family: 'roboto',cursive;

        &__card{
            display: flex;
            margin-bottom: 20px;
            border-radius: 15px 15px 15px 15px;
            box-shadow: 0 0 15px $shadow-color ;
            
            &--img{
                width: 100%;
                height: 250px;
                border-radius: 15px 15px 0px 0px;
                -o-object-fit: cover;
                   object-fit: cover;
                position: relative;
                z-index: 0;
            }
            &--new{
                position : relative;
                z-index : 1;
                float : right;
                margin-top: -235px;
                margin-right: 30px;
                color : $color-new2;
                background-color: $color-new1;
                padding : 10px 15px;
                border-radius: 3px;
                width : 70px;
                font-weight: bold; 
            }
            &--plein{
                position : absolute;
                z-index: 1;
                background : linear-gradient(350deg, $primary-color 0%, $secondary-color 100%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                margin-right : 25px;
            }
            &--vide{
                position : relative;
                z-index: 0;
                margin-right: 25px;
                background: white;               
            }
            &--plein:hover {
                -webkit-animation : coeurplein .6s ease-in forwards;
                        animation : coeurplein .6s ease-in forwards;
                transform-origin: bottom; 
            }
            &--plein:hover ~ &--vide{
                opacity: 0;
            }
            &--link{
            background-color: white;
            border-radius: 15px;
            width: 100%;
            }
            &--description{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin : 10px 10px;
            padding : 5px 5px ; 
            }
    }

}