$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color1 : #eaeaea ;
$background-color2 : #f6f6f6;
$background-color3 : #353535;
$font-color1: #353535;
$shadow-color : grey;
